<div class="col-md-12 experiment-list">
    <div id="toolbar">
        <button id="button" class="btn btn-default grid-del">Remove</button>
        <button id="button" class="btn btn-default grid-add">Add</button>
    </div>
    <table id="experimentGrid"></table>
</div>