<div class="row">
    <div class="col-md-12">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#experiments" data-toggle="tab">Experiments</a></li>
                <li ><a href="#clusters" data-toggle="tab">Clusters</a></li>
                <li ><a href="#analysis" data-toggle="tab">Analysis</a></li>
            </ul>
        </div>
        <div class="col-md-8">
            <div id="managerContent" class="tab-content">
                <div class="tab-pane fade in active" id="experiments">
                </div>
                <div class="tab-pane fade" id="clusters">
                </div>
                <div class="tab-pane fade" id="analysis">

                </div>
            </div>
        </div>
    </div>
</div>
