<div class="modal">
    <div class="modal-header">
        <h3>New Cluster</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">Domain Name</label>
                    <div class="col-md-9">
                        <input type="text" name="domainName" class="form-control" placeholder="domain name">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">Instance Count</label>
                    <div class="col-md-9">
                        <input type="number" name="instanceCount" class="form-control" placeholder="instance count">
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-md-3 control-label">Version</label>
                    <div class="col-md-9">
                        <select class="form-control" name="version" placeholder="access key secret">
                            <option>V1.0.0</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="btn-toolbar form-group">
                    <button type="button" class="btn btn-min-width btn-primary">Submit</button>
                    <button type="button" class="btn btn-min-width btn-default">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>